<div class="row">
    <div class="col-12">
        <strong>Es spielen:</strong>
        <ul class="list-group list-group-flush">
            {% for player in table.round.players %}
            <li class="list-group-item">{{ player }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{{ current_user.id }} {{ dealer }} {{ dealing_needed }}
<div id="row">
    <button id="row button_deal_cards" class="btn btn-info btn-block btn-lg
    {% if current_user.id != dealer or not dealing_needed %}
    d-none
    {% endif %}"
    data-table_id="{{ table.id }}"
    ><strong>Karten geben</strong></button>
</div>