{% if hochzeit or table.round.card_played or exchanged_already%}
    <div class="m-3 text-center"><h5>Ein <strong>{{ exchange_type.title() }}-Austausch</strong> ist nicht möglich.</h5></div>
    <div class="row mt-4">
        <div class="col-6">
        </div>
        <div class="col-6" data-table_id="{{ table.id }}">
            <button class="btn btn-primary btn-block btn" data-dismiss="modal"><strong>Zurück</strong></button>
        </div>
    </div>
{% else %}
    <div class="mb-3 text-center"><h5>Soll ein <strong>{{ exchange_type.title() }}-Austausch</strong> vorgenommen werden?</h5>
    </div>
    <div class="row">
        <div class="col-6" id="button_start_exchange_yes" data-table_id="{{ table.id }}">
            <button class="btn btn-success btn-block" data-dismiss="modal"><strong>Ja</strong></button>
        </div>
        <div class="col-6" data-table_id="{{ table.id }}">
            <button class="btn btn-danger btn-block" data-dismiss="modal"><strong>Nein</strong></button>
        </div>
    </div>
{% endif %}