<table class="table table-borderless table-striped">
    <thead>
    <tr>
        <th><h5><strong>Spieler</strong></h5></th>
        <th><h5><strong>Punkte</strong></h5></th>
    </tr>
    </thead>
    <tbody>
    {% for player_id in table.round.stats['score'] %}
        <tr>
            <td class="w-75">
                <h5>
                    {{ game.players[player_id].name }}
                    {% if game.players[player_id].eichel_ober_count > 0 %}
                        {% for eichel_ober in range(game.players[player_id].eichel_ober_count) %}
                            <span class="oi oi-media-record text-primary small"></span>
                        {% endfor %}
                    {% endif %}
                </h5>
                    <div class="d-flex flex-wrap">
                        {% for trick in table.round.tricks.values() %}
                            {% if trick.owner and trick.owner == player_id %}
                                <ul class="list-group list-group-horizontal no-border mr-2 mb-2 border-0 w-25 zoom">
                                {% for card in trick.cards %}
                                    <li class="list-group-item p-0 no-border bg-transparent">
                                    <img class="img-fluid" src="/static/img/cards/{{ game.deck.cards[card].name }}.png">
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
            </td>
            <td class="w-25">
                <h5>
                    {{ table.round.stats['score'][player_id] }}
                </h5>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div id="button_next_round" data-table_id="{{ table.id }}">
    <button class="btn btn-primary btn-block btn-lg"><strong>Auf zur nächsten Runde!</strong></button>
</div>
