<div id="topbar">
    <div class="dropdown">
        <div class="btn btn-outline-light oi oi-menu float-left m-2 topbar-button" data-toggle="dropdown"
             id="hamburger_menu"></div>
        <div class="dropdown-menu">
            <a class="dropdown-item py-3" href="#" id="menu_request_round_finish" data-table_id="{{ table.id }}">
                <span class="oi oi-media-skip-forward mr-1"></span>
                Spiel beenden</a>
            <a class="dropdown-item py-3" href="#" id="menu_request_round_reset" data-table_id="{{ table.id }}">
                <span class="oi oi-media-skip-backward mr-1"></span>
                Spiel neu starten</a>
            <a class="dropdown-item toppy-3" href="#" id="menu_request_round_restart" data-table_id="{{ table.id }}">
                <span class="oi oi-reload mr-1"></span>
                Runde neu starten</a>
        </div>
    </div>

    {% include "top/user.html" %}

</div>

{% include 'top/hud_players.html' %}

</div>
