<div class="dropdown">
    <div class="btn btn-outline-light float-right m-2 text-nowrap topbar-button" data-toggle="dropdown">
        <span class="oi oi-person mr-1"></span>
        {{ current_user.id }}
    </div>
    <div class="dropdown-menu topbar-menu">
        <a href="{{ url_for('index') }}" class="dropdown-item py-2">
                <span class="oi oi-home mr-1">
                </span>Start</a>
        <a href="#" class="dropdown-item py-2 setup-player" data-player_id="{{ player.id }}">
                <span class="oi oi-cog mr-1">
                </span>Einstellungen</a>
        <a href="{{ url_for('logout') }}" class="dropdown-item py-2">
                <span class="oi oi-power-standby mr-1">
                </span>Abmelden</a>
    </div>
</div>