<div class="row">
    <div class="col-9">
        <h4>{{ table.name }}</h4>
    </div>

    <div class="col-3 custom-control custom-switch">
        <input type="checkbox"
               class="custom-control-input"
               id="table_lock"
               data-table_id="{{ table.id }}"
               {% if table.locked %}
               checked=""
               {% endif %}>
        <label class="custom-control-label float-right" for="table_lock">
            <span
                    class="oi
                {% if table.locked %}
                oi-lock-locked
                {% else %}
                oi-lock-unlocked
                {% endif %}"
                    id="table_lock_icon">
            </span>
        </label>
    </div>
</div>
<!--    <div clas="mt-2 mb-4"><strong>Spieler:</strong></div>-->
<div class="container d-flex flex-column" id="setup_table_players" data-table_id="{{ table.id }}">
    {% for player_id in table.players %}
    <div class="p-2 m-1 border table_player_{{ player_id }} player"
         data-player_id="{{ player_id }}">
        <span class="oi oi-person"></span>
        {{ player_id }}
        <span class="oi oi-x float-right text-danger btn btn-outline-light border-0 btn-sm button-remove-player-from-table"
              data-player_id="{{ player_id }}"
              data-table_id="{{ table.id }}"
        ></span>
    </div>
    {% endfor %}
</div>
<div class="row mt-2">
    <div class="col-12">
        <div class="custom-control custom-switch my-2 mx-3">
            <input type="checkbox"
                   class="custom-control-input"
                   id="switch_card_9"
                   data-table_id="{{ table.id }}"
                   {% if table.round.with_9 %}
                   checked=""
                   {% endif %}
            >
            <label class="custom-control-label" for="switch_card_9">Mit 9er Karten</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="custom-control custom-switch my-2 mx-3">
            <input type="checkbox"
                   class="custom-control-input"
                   id="switch_allow_undo"
                   data-table_id="{{ table.id }}"
                   {% if table.round.allow_undo %}
                   checked=""
                   {% endif %}
            >
            <label class="custom-control-label" for="switch_allow_undo">Mit Stich rückgängig machen</label>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-6" data-table_id="{{ table.id }}">
        <a href="/table/{{ table.id }}"
           class="btn btn-outline-success btn-block"
           id="button_start_table"
           data-table_id="{{ table.id }}">
            <strong>
                Neu starten
            </strong>
        </a>
    </div>
    <div class="col-6" id="button_finish_table_setup" data-table_id="{{ table.id }}">
        <button class="btn btn-outline-primary btn-block btn" data-dismiss="modal"><strong>Zurück</strong>
        </button>
    </div>

</div>
