html, body {
    height: 100%;
    user-select: none;
}

.background {
    height: 100%;
    background-image: url("/static/img/table.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    height: 100vh;
}

#overlay-control {
    position: fixed;
    width: 30%;
    height: 20%;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-button {
    position: fixed;
    width: 60%;
    height: 20%;
    top: 40%;
    bottom: 40%;
    left: 20%;
    right: 20%;
    z-index: 2000;
}