html, body {
    height: 100%;
    user-select: none;
}

.background {
    height: 100%;
    background-image: url("/static/img/table.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    height: 100vh;
}

.top-bar {
    font-size: large;
    color: white;
}

#index_menu {
    position: fixed;
    top: 10%;
    height: 90%;
    width: 100%;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

#overlay_topbar {
    position: fixed;
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
    z-index: 100;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background: linear-gradient(to top, #cccccc00 0%, #333333cc 100%);
}

#overlay_hud {
    position: fixed;
    top: 10%;
    width: 20%;
    height: 30%;
    right: 80%;
    z-index: 1000;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

.overlay_button {
    position: fixed;
    width: 60%;
    height: 16%;
    top: 42%;
    bottom: 42%;
    left: 20%;
    right: 20%;
    z-index: 2000;
}

.overlay_notification {
    position: fixed;
    width: 40%;
    height: 10%;
    top: 5%;
    bottom: 85%;
    left: 30%;
    right: 30%;
    z-index: 2000;
    background-color: rgba(0,0,0,0.5);
}

.game_card {
    z-index: 200;
}