html, body {
    height: 100%;
    user-select: none;
    overflow-x: hidden;
}

.background {
    height: 100%;
    background-image: url("/static/img/table.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#main_content {
    height: 100vh;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#table_and_hand {
    position: fixed;
    top: 10%;
    height: 90%;
    width: 100%;
    bottom: 0%;
}

#index_menu {
    top: 10%;
    height: 90%;
    width: 100%;
    left: 0;
}

/* turn ellipses-menu into smallish hamburger menulet */
.menu-ellipses {
    transform: rotate(90deg);
}

#hud_players {
    color: white;
    text-align: center;
}

.hud-player-active {
    color: #212529;
    /* no padding on right to keep space for tricks badge */
    padding-left: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid white;
    background-color: white;
}

#topbar {
    position: fixed;
    width: 100%;
    height: 5%;
    left: 0;
    top: 0;
    z-index: 100;
    background: linear-gradient(to top, #ffffff00 0%, #111111ff 100%);
}

.topbar-button {
    border-style: none;
    z-index: 600;
}

.topbar-menu {
    z-index: 600;
}

#overlay_hud {
    position: fixed;
    top: 10%;
    width: 20%;
    height: 30%;
    right: 80%;
    z-index: 900;
}

.overlay-button {
    position: fixed;
    width: 40%;
    height: 10%;
    top: 45%;
    bottom: 45%;
    left: 30%;
    right: 30%;
    z-index: 300;
}

.turn-indicator-area {
    position: fixed;
    width: 100%;
    height: 3rem;
    top: 2rem;
    left: 15px;
    right: 15px;
    z-index: 400;

}

.turn-indicator-message {
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
    cursor: default !important;
    /* btn-block */
    display: block;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 0;
    border-radius: .3rem;
    /* btn */
    user-select: none;
    text-align: center;
    vertical-align: middle;
    border: 0 solid;
}

.game-card {
    z-index: 99;
}

.dropdown-item {
    z-index: 1000;
!important;
}

.spectator-hand .img-fluid {
    max-height: 150px;
}

#table_spectator {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#table_spectator.d-none {
    position: relative;
    width: 0%;
    height: 0%;
    z-index: 0;
}
