<form id="form_create_table">
    <div class="row">
        <div class="col-12 mb-2">
            <h4>Neuer Tisch</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="oi oi-people"></i></span>
            </div>
            <input type="text"
                   class="form-control form-focus"
                   id="new_table_id"
                   placeholder="Mein neuer Tisch"
                   name="new_table_id">
        </div>
    </div>
    </div>
    <div class="row mt-3">
        <div class="col-6" id="button_finish_create_table">
            <button class="btn btn-success btn-block btn"><strong>Anlegen</strong>
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary btn-block btn" data-dismiss="modal"><strong>Zurück</strong>
            </button>
        </div>
</form>