<form id="form_create_table">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-12">
                            <input type="text"
                                   class="form-control form-focus"
                                   id="new_player_id"
                                   placeholder="Neuer Spieler"
                                   name="new_player_id">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Das Passwort ist standardmäßig gleich dem Spielernamen.
        </div>
    </div>
    <div class="row mt-3">
                <div class="col-6" id="button_finish_create_player">
                    <button class="btn btn-outline-success btn-block btn"><strong>Anlegen</strong>
                    </button>
                </div>
        <div class="col-6">
            <button class="btn btn-outline-primary btn-block btn" data-dismiss="modal"><strong>Zurück</strong>
            </button>
        </div>
</form>