<ul class="list-group">
    {% for table in tables %}
    <li class="list-group-item list-group-item-action"
        id="{{ table.id }}"
        data-table_id="{{ table.id }}">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <strong>
                    {{ table.id }}
                    {% if table.locked %}
                    <span class="oi oi-lock-locked"></span>
                    {% endif %}
                </strong><br>

                <span class="text-secondary">
    {% for player_id in table.players %}
                        <span class="table_{{ table.id }}_player_{{ player_id }}">{{ player_id }}&nbsp;</span>
    {% endfor %}
                </span>
            </div>
            <div class="col-md-5 col-sm-12 d-flex align-items-center">
                {% if current_user.id in table.players or not table.locked %}
                {% set disabled = '' %}
                {% else %}
                {% set disabled = 'disabled' %}
                {% endif %}
                <a href="/table/{{ table.id }}"
                   class="btn btn-outline-success ml-auto text-nowrap button-enter-table {{ disabled }}"
                   data-table_id="{{ table.id }}">
                    <span class="oi oi-account-login mr-1"></span>
                    Beitreten
                </a>
                <button class="btn btn-outline-info button-setup-table ml-2 {{ disabled }}" data-table_id="{{ table.id }}">
                    <span class="oi oi-wrench"></span>
                </button>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>