<ul class="list-group">
    {% for player in players %}
    <li class="list-group-item list-group-item-action list-item-table"
        id="{{ player.id }}"
        data-player="{{ player.id }}">
        <strong>
            {{ player.name }}
        </strong>
        <button class="oi oi-trash float-right btn btn-sm btn-outline-danger button-delete-player"
                data-player_id="{{ player.id }}">
        </button>
        <button class="oi oi-cog float-right btn btn-sm btn-outline-primary setup-player mr-2"
                data-player_id="{{ player.id }}">
        </button>
    </li>
    {% endfor %}
</ul>