<div class="text-center">
    <h3>Willkommen bei <strong>doko3000</strong></h3>
</div>
<div class="mt-3">
    Zum Spielen braucht Ihr <strong>mindestens 4 Spieler</strong> und <strong>einen Tisch</strong>.
</div>
<ul>
    <li>
        <div class="mt-1">
            Ein <strong>Tisch</strong> kann von jedem mit <span class="badge badge-primary">
                        Tische
    </span>

            <span class="badge badge-success">
        <span class="oi oi-plus small"></span>
                        Neu
    </span>
            erstellt werden.
        </div>
    </li>
    <li>
        <div class="mt-1">
            Einem <strong>Tisch</strong> wird mit <span class="badge badge-success">
                                <span class="oi oi-account-login small"></span>
                        Beitreten
    </span>
            beigetreten.
        </div>
    </li>
    <li>
        {% if game.players[current_user.id].is_admin %}
            <div class="mt-1">
                <strong>Spieler</strong> kann ein Administrator mit <span class="badge badge-primary">
                        Spieler
    </span>

                <span class="badge badge-success">
        <span class="oi oi-plus small"></span>
                        Neu
    </span>
                anlegen.
            </div>
            </li>
            <li>
                Der <span class="badge badge-light">admin</span> ist standardmäßig nur <strong>Zuschauer <span
                    class="small oi oi-eye"></span>
            </strong>.
            </li>
            </ul>
        {% endif %}
<div class="row mt-4">
    <div class="col-6">
    </div>
    <div class="col-6" id="button_close_welcome">
        <button class="btn btn-primary btn-block btn" data-dismiss="modal"><strong>OK</strong>
        </button>
    </div>
</div>