<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>
        {% block title %}
        {{ title }}
        {% endblock title %}
    </title>
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dragula.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doko3000.css') }}?timestamp={{ timestamp }}">
    {% endblock styles %}
    {% endblock head %}
</head>
<body>

{% block content %}
<div class="container-fluid background align p-0" id="main_content">
    {% block main_content %}
    {% endblock main_content %}
</div>

<div id="modal_dialog" class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!--                <div class="modal-header">-->
            <!--                    <h4 class="modal-title" id="modal_title">Modal Header</h4>-->
            <!--                    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <!--                </div>-->

                <div class="row-cols-12" id="modal_message">
                </div>
            <div class="modal-body" id="modal_body">
                <p>Dummy content.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<!-- 3rd party stuff -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dragula.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
<!-- doko3000 stuff -->
<!-- dummy timestamp to make sure that always the latest doko3000.js will be used -->
<script type="text/javascript"
        src="{{ url_for('static', filename='js/doko3000.js') }}?timestamp={{ timestamp }}"></script>
{% endblock scripts %}

</body>
</html>
