<!--<ul class="list-group list-group-flush list-group-horizontal">-->
{#{% for player in players %}#}
{#<span class="{% if (player.name == next_player and not is_last_turn) or (player.name == current_user.username and is_last_turn) %}#}
{#    font-weight-bolder text-uppercase#}
{#    {% endif %}">{{ player.name }}</span>#}
{#{% endfor %}#}

<span id="hud_player_{{ player.left.name }}" class="hud_player"><span class="oi oi-arrow-thick-left"></span> {{ player.left.name }}</span>
&nbsp;
<span id="hud_player_{{ player.opposite.name }}" class="hud_player">{{ player.opposite.name }}</span>
&nbsp;
<span id="hud_player_{{ player.right.name }}" class="hud_player">{{ player.right.name }} <span class="oi oi-arrow-thick-right"></span></span>

<!--</ul>-->