<!--<ul class="list-group list-group-flush list-group-horizontal">-->
<span id="hud_player_{{ player.left }}" class="hud_player
{% if player.left == current_player_id %}
hud-player-active
{% endif %}
"><span class="oi oi-arrow-thick-left"></span>
    {% if player.left == dealer %}
        <span class="oi oi-layers"></span>
    {% endif %}
    {{ player.left }}
</span>
&nbsp;
<span id="hud_player_{{ player.opposite }}" class="hud_player
{% if player.opposite == current_player_id %}
hud-player-active
{% endif %}
">
        {% if player.opposite == dealer %}
            <span class="oi oi-layers"></span>
        {% endif %}
    {{ player.opposite }}</span>
&nbsp;
<span id="hud_player_{{ player.right }}" class="hud_player
{% if player.right == current_player_id %}
hud-player-active
{% endif %}
">
    {% if player.right == dealer %}
        <span class="oi oi-layers"></span>
    {% endif %}
    {{ player.right }} <span
        class="oi oi-arrow-thick-right">
</span>
</span>

<!--</ul>-->