{% extends "base.html" %}

{% block main_content %}
    {# store info if a welcome dialog on index shall explain how to create table #}
    <span id="needs_welcome"
          data-state="{{ game.needs_welcome|tojson }}">
    </span>
<div id="topbar">
    {% include "top/player.html" %}
</div>

<br>
<br>

<div id="index_menu">
    <div class="row">
        {% if current_user.is_admin %}
        <div class="col-lg-7 col-xs-12 p-4">
            {% else %}
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10 col-xs-12 p-4">
                {% endif %}
                <h3>
                    <span class="text-light bg-primary p-1 px-2 rounded">Tische</span>
                    <button class="btn btn-success btn-sm float-right"
                            id="button_create_table">
                        <span class="oi oi-plus mr-1"></span>
                        Neu
                    </button>
                </h3>
                <div id="list_tables">
                    {% include 'index/list_tables.html' %}
                </div>
            </div>
            {% if current_user.is_admin %}
            <div class="col-lg-5 col-xs-12 p-4">
                <h3>
                    <span class="text-light bg-primary p-1 px-2 rounded">Spieler</span>
                    <button id="button_create_player"
                            class="btn btn-success btn-sm float-right">
                        <span class="oi oi-plus mr-1"></span>
                        Neu
                    </button>
                </h3>
                <div class="list-group" id="list_players">
                    {% include 'index/list_players.html' %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock main_content %}