{% extends "base.html" %}

{% block custom_content %}

<div id="index_menu">
    <!--    <button id="new_table" type="button" class="btn btn-info">Neuer Tisch</button>-->
    <!--    <p></p>-->
    <!--    Tische:-->
    <!--    <div class="list-group" id="list_tables">-->
    <!--        {% include 'list_tables.html' %}-->
    <!--    </div>-->
    <div class="row">
        <div class="col-1"></div>
        {% if current_user.is_admin %}
        <div class="col-5 p-4">
            <h3>
                Spieler
                <button class="btn btn-success btn-sm float-right disabled"><span class="oi oi-plus mr-1"></span>Hinzufügen
                </button>
            </h3>
            <div class="list-group" id="list_players">
                {% include 'list_players.html' %}
            </div>
        </div>
        {% endif %}
        <div class="col-5 p-4">
            <h3>
                Tische
                <button class="btn btn-success btn-sm float-right disabled"><span class="oi oi-plus mr-1"></span>Hinzufügen
                </button>
            </h3>
            <div class="list-group" id="list_tables">
                {% include 'list_tables.html' %}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock custom_content %}