<div class="m-3 text-center"><h3><strong>doko3000</strong> {{ config.VERSION[:12] }}</h3></div>
<div class="row mt-4">
    <div class="col-12 text-center">
        ©2020-2022 Henri Wahl
        <br><br>
        <a href="https://github.com/HenriWahl/doko3000" target="_blank" rel="noreferrer noopener">github.com/HenriWahl/doko3000</a>
        <br><br>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6">
    </div>
    <div class="col-6">
        <button class="btn btn-primary btn-block " data-dismiss="modal">
            <strong>
                Zurück
            </strong>
        </button>
    </div>
</div>
