{% extends "base.html" %}

{% block main_content %}

<div class="container-fluid row p-0 m-0" id="topbar">
    <div class="col-3 p-0">
        {% include "top/menu.html" %}
    </div>
    <div class="col-6 p-0 mt-2">
        {% include 'top/hud_players.html' %}
    </div>
    <div class="col-3 p-0">
        {% include "top/player.html" %}
    </div>
</div>

<div id="table_hand">
    <div class="row align-items-center w-100 h-50 m-0 p-0">
        <div class="container-fluid w-100 h-100 m-0 p-0 d-flex justify-content-center align-items-center"
             id="table_spectator">
            {% include 'cards/table.html' %}
        </div>
    </div>

    <div class="row align-items-center w-100 h-50 m-0 p-0">
        <div class="container-fluid w-100 h-100 m-0 p-0 container-fluid d-inline-flex justify-content-center align-items-center"
             id="hand_spectator">
            {% include 'cards/hand.html' %}
        </div>
    </div>
</div>

{% endblock main_content %}