{% extends "base.html" %}

{% block custom_content %}
<!--<div id="overlay_hud">-->
<!--&lt;!&ndash;    <div id="hud_players">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->

<div class="container-fluid">
    {% include 'overlay_topbar.html' %}
</div>

<div id="deal_cards" class="row overlay_button justify-content-center
    {% if current_user.id != dealer %}
    d-none
    {% endif %}"
     data-table="{{ table.id }}">
    <button class="btn btn-info btn-block btn-lg"><strong>Karten geben</strong></button>
</div>

<div id="claim_trick" class="row overlay_button justify-content-center d-none"
     data-table="{{ table.id }}">
    <button class="btn btn-success btn-block btn-lg"><strong>Stich nehmen</strong></button>
</div>

<button id="turn_indicator" class="overlay_notification btn btn-block btn-lg text-white d-none">Du bist am Zug</button>

<div id="table_hand">
    <div class="row align-items-center w-100 h-50">
        <div class="container-fluid w-100 h-100 d-flex justify-content-center align-items-center" id="table">
        </div>
    </div>

    <div class="row align-items-center w-100 h-50">
        <div class="container-fluid w-100 h-100 container-fluid d-inline-flex justify-content-center align-items-center"
             id="hand">
            {% include 'cards_hand.html' %}
        </div>
    </div>
</div>
{% endblock custom_content %}