{% extends "base.html" %}

{% block custom_content %}
<div id="overlay-control">
    <div class="float-right m-2 top-bar">
        <span class="oi oi-person text-black-50"></span>
        <span class="text-black-50">{{ current_user.username }}</span>
        <a href="{{ url_for('logout') }}"><span class="oi oi-account-logout text-black-50"></span></a>
    </div>

    <!--    <div class="alert alert-info d-none" id="turn_indicator">Your turn</div>-->

    <p></p>

</div>

<div id="deal_cards" class="row overlay-button justify-content-center
    {% if current_user.username != dealer %}
    d-none
    {% endif %}"
     data-table="{{ table.name }}">
    <button class="btn btn-info btn-block btn-lg"><strong>Karten geben</strong></button>
</div>

<!--<div id="next_round" class="row overlay-button justify-content-center d-none"-->
<!--     data-table="{{ table.name }}">-->
<!--    <button class="btn btn-primary btn-block btn-lg"><strong>Bereit zur nächsten Runde</strong></button>-->
<!--</div>-->

<div id="claim_trick" class="row overlay-button justify-content-center d-none"
     data-table="{{ table.name }}">
    <button class="btn btn-success btn-block btn-lg"><strong>Stich nehmen</strong></button>
</div>

<button id="turn_indicator" class="overlay-notification btn btn-block btn-lg text-white d-none">Du bist am Zug</button>

<div class="row align-items-center w-100 h-50">
    <div class="w-100 h-100 d-flex justify-content-center align-items-center" id="table">
    </div>
</div>

<div class="row align-items-center w-100 h-50">
    <div class="w-100 h-100 container-fluid d-inline-flex justify-content-center align-items-center" id="hand">
    </div>
</div>
{% endblock custom_content %}