{% extends "base.html" %}

{% block main_content %}
    {# store initial sync count in page as a robust way to initialize it #}
    <span id="sync_count" data-sync_count="{{ table.sync_count }}"></span>

    {# store info if a welcome dialog on table shall explain how to start a round #}
    <span id="needs_welcome"
          data-state="{{ table.needs_welcome|tojson }}"
          data-table_id="{{ table.id }}">
    </span>

    <div id="button_deal_cards_again" class="overlay-button justify-content-center
    {% if current_user.id != table.dealer or not table.round.needs_dealing or exchange_needed %}
    d-none
    {% endif %}"
         data-table_id="{{ table.id }}">
        <button class="btn btn-info btn-block btn-lg p-4"><strong>Karten noch einmal geben</strong></button>
    </div>

    <div id="button_claim_trick" class="overlay-button justify-content-center
     {% if player.id in table.idle_players or not table.round.needs_trick_claiming or table.round.player_showing_hand %}
     d-none
     {% endif %}
     "
         data-table_id="{{ table.id }}">
        <button class="btn btn-success btn-block btn-lg p-4"><strong>Stich nehmen</strong></button>
    </div>

    <div id="button_exchange_send_cards" class="overlay-button justify-content-center
    {% if not exchange_needed %}
    d-none
    {% endif %}"
         data-table_id="{{ table.id }}">
        <button class="btn btn-info btn-block btn-lg p-4"><strong>Austauschen</strong></button>
    </div>

    <div id="turn_indicator" class="turn-indicator-area row
    {% if table.round.current_player_id != current_user.id or table.round.needs_trick_claiming or table.round.player_showing_hand or exchange_needed or cards_table|length >= 4 %}
    d-none
    {% endif %}
    ">
    <span class="col-1 col-sm-2 col-md-3 col-lg-4"></span>
    <button class="turn-indicator-message col-10 col-sm-8 col-md-6 col-lg-4">
        Du bist am Zug
    </button>
</div>
    <div class="container-fluid row p-0 m-0" id="topbar">
        <div class="col-3 p-0">
            {% include "top/menu.html" %}
        </div>
        <div class="col-6 p-0 mt-2">
            {% include 'top/hud_players.html' %}
        </div>
        <div class="col-3 p-0">
            {% include "top/player.html" %}
        </div>
    </div>

    {% if mode == 'spectator' %}
        {% set mode_spectator_visible = '' %}
        {% set mode_player_visible = 'd-none' %}
    {% else %}
        {% set mode_spectator_visible = 'd-none' %}
        {% set mode_player_visible = '' %}
    {% endif %}

    <div id="table_and_hand">
        <div class="container-fluid m-0 p-0 d-flex justify-content-center align-items-center mode-spectator {{ mode_spectator_visible }}"
             id="table_spectator">
            {% if mode == 'spectator' %}
                {% include 'cards/table.html' %}
            {% endif %}
        </div>
        <div class="row align-items-center w-100 h-50 m-0 p-0">
            <div class="w-100 h-100 m-0 p-0 spectator-hand mode-spectator {{ mode_spectator_visible }}"
                 id="hand_spectator_upper">
                {% if mode == 'spectator' %}
                    {% include 'cards/hand_spectator_upper.html' %}
                {% endif %}
            </div>
            <div class="container-fluid w-100 h-100 m-0 p-0 d-flex justify-content-center align-items-center mode-player {{ mode_player_visible }}"
                 id="table">
                {% if mode == 'player' %}
                    {% include 'cards/table.html' %}
                {% endif %}
            </div>
        </div>
        <div class="row align-items-center w-100 h-50 m-0 p-0">
            <div class="row w-100 h-100 m-0 p-0 spectator-hand mode-spectator {{ mode_spectator_visible }}"
                 id="hand_spectator_lower">
                {% if mode == 'spectator' %}
                    {% include 'cards/hand_spectator_lower.html' %}
                {% endif %}
            </div>
            <div class="container-fluid w-100 h-100 m-0 px-1 py-0 container-fluid d-inline-flex justify-content-center align-items-center mode-player {{ mode_player_visible }}"
                 id="hand">
                {% if mode == 'player' %}
                    {% include 'cards/hand.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main_content %}