<div id="card_{{ card.id }}"
     {% if hand_spectator %}
         {% set card_as_class = 'card_' + card.id|string %}
     {% else %}
         {% set card_as_class = '' %}
     {% endif %}
     class="game-card game-card-hand {{ card_as_class }}"
     data-name="{{ card.name }}"
     data-id="{{ card.id }}"
     data-table_id="{{ table.id }}"
     data-timestamp="{{ timestamp }}"
        {% if played_by %}
     title="{{ played_by }}"
        {% endif %}}
>
    <picture>
        <img class="img-fluid p-1" src="/static/img/cards/{{ card.name }}.png">
    </picture>
</div>