{% set hand_spectator = True %}
<div class="row">
    <!-- player 2 -->
    <div class="col-6">
        <div class="row">
            {% if table.round.players|length >=2 %}
                <div class="col-12">
                <span class="mx-2 spectator-player"
                      id="spectator_player_{{ game.players[table.round.players[1]].id }}">
                <strong>{{ game.players[table.round.players[1]].name }}</strong>
                </span>
                </div>
                <div class="col-12 container-fluid d-inline-flex">
                    {% for card in players_cards[1] %}
                        {% include 'cards/card.html' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <!-- player 3 -->
    <div class="col-6">
        <div class="row">
            {% if table.round.players|length >=3 %}
                <div class="col-12 text-right">
                    <span class="mx-2 spectator-player"
                          id="spectator_player_{{ game.players[table.round.players[2]].id }}">

                    <strong>{{ game.players[table.round.players[2]].name }}</strong>
                </span>
                </div>
                <div class="col-12 container-fluid d-inline-flex justify-content-end">
                    {% for card in players_cards[2] %}
                        {% include 'cards/card.html' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

