{# store timestamp in extra id to be compared with single dragged cards and their timestamp #}
<span id="cards_hand_timestamp" data-cards_timestamp="{{ table.round.cards_timestamp }}"></span>
{% for card in cards_hand %}
{% include 'cards/card.html' %}
{% endfor %}
<div id="cards_stack" class="game-card ml-2
{% if not player.id in table.round.stats['score'] or table.round.stats['score'][player.id] == 0 %}
d-none
{% endif %}
">
<img class="img-fluid p-1"
     id="cards_stack_img"
     src="/static/img/cards/back.{{ game.deck.file_extension }}"
     title="{{ table.round.stats['score'][player.id] }}">
</div>