<!--store timestamp in extra id to be compared with single dragged cards and their timestamp-->
<span id="cards_hand_timestamp" data-timestamp="{{ timestamp }}"></span>

<div class="row">
<!-- player 1 -->
    <div class="col-6">
        {% for card in players_cards[0] %}
        {% include 'cards/card.html' %}
        {% endfor %}
    </div>
<!-- player 2 -->
    <div class="col-6">
        {% for card in players_cards[1] %}
        {% include 'cards/card.html' %}
        {% endfor %}
    </div>
</div>
<div class="row">
<!-- player 3 -->
    <div class="col-6">
        {% for card in players_cards[2] %}
        {% include 'cards/card.html' %}
        {% endfor %}
    </div>
<!-- player 4 -->
    <div class="col-6">
        {% for card in players_cards[3] %}
        {% include 'cards/card.html' %}
        {% endfor %}
    </div>
</div>
